Repository SE701-T1/backend, pull requests merged in 2022-04, with the labels that each got.

#145 Fix CI workflow
  .github/workflows/maven.yml
Labels: Priority: Low, Status: Review Needed, Type: Bug

#146 Refactor pull_request_template.md - comment out instructions, unlink example issue
  .github/pull_request_template.md
Labels: Priority: Low, Status: Review Needed, Type: Documentation

#147 Implement endpoint to withdraw a course that a user is enrolled in
  src/main/java/com/team701/buddymatcher/controllers/timetable/TimetableController.java
  src/main/java/com/team701/buddymatcher/domain/timetable/Course.java
  src/main/java/com/team701/buddymatcher/services/timetable/TimetableService.java
  src/main/java/com/team701/buddymatcher/services/timetable/impl/TimetableServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/timetable/TimetableControllerIntegrationTest.java
Labels: Priority: Medium, Status: Review Needed, Type: Feature

#150 Fix CI workflow
  .github/workflows/maven.yml
Labels: Priority: Low, Status: Review Needed, Type: Bug

#148 Endpoint implementation for search function
  src/main/java/com/team701/buddymatcher/controllers/communication/CommunicationController.java
  src/test/java/com/team701/buddymatcher/controllers/communication/CommunicationControllerIntegrationTest.java
  src/test/resources/communication_data.sql
Labels: Priority: Medium, Status: Review Needed, Type: Feature, Team: Messaging

#151 Implement block buddy endpoint
  src/main/java/com/team701/buddymatcher/controllers/users/UserController.java
  src/main/java/com/team701/buddymatcher/domain/users/BlockedBuddies.java
  src/main/java/com/team701/buddymatcher/dtos/users/BlockedBuddiesDTO.java
  src/main/java/com/team701/buddymatcher/repositories/users/BlockedBuddiesRepository.java
  src/main/java/com/team701/buddymatcher/services/users/UserService.java
  src/main/java/com/team701/buddymatcher/services/users/impl/UserServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerIntegrationTest.java
  src/test/resources/cleanup_data.sql
Labels: Priority: Medium, Status: Review Needed, Type: Feature, Team: Users

#155 Endpoint implementation to get list of users blocked by a user
  src/main/java/com/team701/buddymatcher/controllers/users/UserController.java
  src/main/java/com/team701/buddymatcher/repositories/users/UserRepository.java
  src/main/java/com/team701/buddymatcher/services/users/UserService.java
  src/main/java/com/team701/buddymatcher/services/users/impl/UserServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerIntegrationTest.java
Labels: Priority: Medium, Status: Review Needed, Type: Feature, Team: Users

#153 Implement report buddy endpoint
  src/main/java/com/team701/buddymatcher/controllers/users/UserController.java
  src/main/java/com/team701/buddymatcher/domain/users/ReportedBuddies.java
  src/main/java/com/team701/buddymatcher/dtos/users/ReportedBuddiesDTO.java
  src/main/java/com/team701/buddymatcher/repositories/users/ReportedBuddiesRepository.java
  src/main/java/com/team701/buddymatcher/repositories/users/UserRepository.java
  src/main/java/com/team701/buddymatcher/services/users/UserService.java
  src/main/java/com/team701/buddymatcher/services/users/impl/UserServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerIntegrationTest.java
  src/test/resources/cleanup_data.sql
Labels: Priority: Medium, Status: Review Needed, Type: Feature, Team: Users

#157 Added endpoint to delete conversations.
  src/main/java/com/team701/buddymatcher/controllers/communication/CommunicationController.java
  src/main/java/com/team701/buddymatcher/repositories/communication/MessageRepository.java
  src/main/java/com/team701/buddymatcher/services/communication/CommunicationService.java
  src/main/java/com/team701/buddymatcher/services/communication/impl/CommunicationServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/communication/CommunicationControllerIntegrationTest.java
Labels: Priority: Medium, Status: Completed, Type: Feature, Team: Communication

#159 Improve test code coverage
  pom.xml
  src/main/java/com/team701/buddymatcher/BuddyMatcherApplication.java
  src/main/java/com/team701/buddymatcher/SwaggerConfig.java
  src/main/java/com/team701/buddymatcher/config/JwtTokenUtil.java
  src/main/java/com/team701/buddymatcher/config/WebSecurityConfig.java
  src/main/java/com/team701/buddymatcher/controllers/communication/CommunicationController.java
  src/main/java/com/team701/buddymatcher/controllers/pairing/PairingController.java
  src/main/java/com/team701/buddymatcher/controllers/timetable/TimetableController.java
  src/main/java/com/team701/buddymatcher/controllers/users/UserController.java
  src/main/java/com/team701/buddymatcher/controllers/users/ValidateController.java
  src/main/java/com/team701/buddymatcher/domain/communication/Message.java
  src/main/java/com/team701/buddymatcher/domain/timetable/Course.java
  src/main/java/com/team701/buddymatcher/domain/timetable/Timetable.java
  src/main/java/com/team701/buddymatcher/domain/users/BlockedBuddies.java
  src/main/java/com/team701/buddymatcher/domain/users/Buddies.java
  src/main/java/com/team701/buddymatcher/domain/users/ReportedBuddies.java
  src/main/java/com/team701/buddymatcher/domain/users/User.java
  src/main/java/com/team701/buddymatcher/dtos/communication/ChatDTO.java
  src/main/java/com/team701/buddymatcher/dtos/communication/MessageDTO.java
  src/main/java/com/team701/buddymatcher/dtos/pairing/AddBuddyDTO.java
  src/main/java/com/team701/buddymatcher/dtos/pairing/MatchBuddyDTO.java
  src/main/java/com/team701/buddymatcher/dtos/pairing/RemoveBuddyDTO.java
  src/main/java/com/team701/buddymatcher/dtos/timetable/CourseDTO.java
  src/main/java/com/team701/buddymatcher/dtos/timetable/TimetableDTO.java
  src/main/java/com/team701/buddymatcher/dtos/users/BlockedBuddiesDTO.java
  src/main/java/com/team701/buddymatcher/dtos/users/BuddiesDTO.java
  src/main/java/com/team701/buddymatcher/dtos/users/ReportedBuddiesDTO.java
  src/main/java/com/team701/buddymatcher/dtos/users/UserDTO.java
  src/main/java/com/team701/buddymatcher/interceptor/UserInterceptor.java
  src/main/java/com/team701/buddymatcher/repositories/communication/MessageRepository.java
  src/main/java/com/team701/buddymatcher/repositories/timetable/CourseRepository.java
  src/main/java/com/team701/buddymatcher/repositories/users/BlockedBuddiesRepository.java
  src/main/java/com/team701/buddymatcher/repositories/users/BuddiesRepository.java
  src/main/java/com/team701/buddymatcher/repositories/users/UserRepository.java
  src/main/java/com/team701/buddymatcher/services/communication/CommunicationService.java
  src/main/java/com/team701/buddymatcher/services/communication/impl/CommunicationServiceImpl.java
  src/main/java/com/team701/buddymatcher/services/pairing/PairingService.java
  src/main/java/com/team701/buddymatcher/services/pairing/impl/PairingServiceImpl.java
  src/main/java/com/team701/buddymatcher/services/timetable/TimetableService.java
  src/main/java/com/team701/buddymatcher/services/timetable/impl/TimetableServiceImpl.java
  src/main/java/com/team701/buddymatcher/services/users/UserService.java
  src/main/java/com/team701/buddymatcher/services/users/impl/UserServiceImpl.java
  src/main/java/com/team701/buddymatcher/socket/ChatEventHandler.java
  src/main/java/com/team701/buddymatcher/socket/MessageObject.java
  src/main/java/com/team701/buddymatcher/socket/ReadObject.java
  src/main/java/com/team701/buddymatcher/socket/SocketCommandLineRunner.java
  src/main/java/com/team701/buddymatcher/socket/UserObject.java
  src/test/java/com/team701/buddymatcher/BuddyMatcherApplicationTests.java
  src/test/java/com/team701/buddymatcher/controllers/communication/CommunicationControllerIntegrationTest.java
  src/test/java/com/team701/buddymatcher/controllers/pairing/PairingControllerIntegrationTest.java
  src/test/java/com/team701/buddymatcher/controllers/timetable/TimetableControllerIntegrationTest.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerIntegrationTest.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerUnitTest.java
  src/test/java/com/team701/buddymatcher/controllers/users/ValidateControllerIntegrationTest.java
  src/test/java/com/team701/buddymatcher/domain/InMemoryDBIntegrationTest.java
  src/test/java/com/team701/buddymatcher/interceptor/UserInterceptorTest.java
  src/test/java/com/team701/buddymatcher/services/timetable/TimetableServiceImplUnitTests.java
  src/test/java/com/team701/buddymatcher/services/users/UserServiceImplUnitTest.java
  src/test/java/com/team701/buddymatcher/socket/SocketTest.java
Labels: Priority: Low, Status: Review Needed, Type: Maintenance

#158 Endpoint implementation for unblocking blocked users
  src/main/java/com/team701/buddymatcher/controllers/users/UserController.java
  src/main/java/com/team701/buddymatcher/repositories/users/BlockedBuddiesRepository.java
  src/main/java/com/team701/buddymatcher/services/users/UserService.java
  src/main/java/com/team701/buddymatcher/services/users/impl/UserServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerIntegrationTest.java
Labels: Priority: Medium, Status: Review Needed, Type: Feature, Team: Users

#162 ISSUE 124: Improved Buddy Searching To Prioritise Shared Courses
  src/main/java/com/team701/buddymatcher/controllers/pairing/PairingController.java
  src/main/java/com/team701/buddymatcher/repositories/users/UserRepository.java
  src/main/java/com/team701/buddymatcher/services/pairing/impl/PairingServiceImpl.java
  src/main/java/com/team701/buddymatcher/services/users/UserService.java
  src/main/java/com/team701/buddymatcher/services/users/impl/UserServiceImpl.java
  src/test/java/com/team701/buddymatcher/controllers/pairing/PairingControllerIntegrationTest.java
Labels: Priority: Low, Status: Review Needed, Type: Feature, Team: Pairing

#163 Fix Google OAuth2 login
  src/main/java/com/team701/buddymatcher/controllers/users/UserController.java
  src/test/java/com/team701/buddymatcher/controllers/users/UserControllerIntegrationTest.java
Labels: Priority: Critical, Status: Review Needed, Type: Bug
